nav {
    background-color: darkgrey;
    height: 50px;
}

.menu-item {
    display: inline-block;
    width: 100px;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.sidebar {
    width: 29%;
    background-color: silver;
    float: left;
    height: 1000px;
   


}

.main-content {
    width: 70%;
    float: left;
    background-color: forestgreen;
    height: fit-content;
}

.pet-name {
    text-align: center;
}

.pet-name img {
    width: 150px;

}

.pet-content {
    padding: 20px;
}

.pet-content img {
    float: left;
    margin-right: 20px;
    width: 400px;
    


}